html, body {
    width:100%;
    height:100%;
    font-family: 'Quicksand', sans-serif;
}
#main-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#slides {
    width: 200%;
    height: 200%;
    position: fixed;
    top: 0;
    left: 0;
}
#google_map {
  height: 500px;
}

/*###### Slides image and position #######*/
.slide {
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:50%;
}
#main {
    background: url('../img/BACKGROUNDS/index1.png') no-repeat center center;
    background-size: cover;
}
#funciones {
    background: url('../img/BACKGROUNDS/building.png') no-repeat center center;
    background-size: cover;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    -o-transform: translate(0%,100%);
    transform: translate(0,100%);
}
#funciones-2 {
    background: url('../img/BACKGROUNDS/building.png') no-repeat center center;
    background-size: cover;
    -webkit-transform: translate(100%,100%);
    -ms-transform: translate(100%,100%);
    -o-transform: translate(100%,100%);
    transform: translate(100%,100%);
}
#acceso {
    background: url('../img/BACKGROUNDS/portada1.jpg') no-repeat center center;
    background-size: cover;
    -webkit-transform: translate(100%,0%);
    -ms-transform: translate(100%,0%);
    -o-transform: translate(100%,0%);
    transform: translate(100%,0%);
}
#beneficios {
    background: url('../img/BACKGROUNDS/portada.png') no-repeat center center;
    background-size: cover;
    -webkit-transform: translate(200%,0%);
    -ms-transform: translate(200%,0%);
    -o-transform: translate(200%,0%);
    transform: translate(200%,0%);
}
#contacto {
    background: url('../img/BACKGROUNDS/architecture.jpg') no-repeat center center;
    background-size: cover;
    -webkit-transform: translate(200%,100%);
    -ms-transform: translate(200%,100%);
    -o-transform: translate(200%,100%);
    transform: translate(200%,100%);
}
/*######## Slide captions  and positions ########*/

/*######## MAIN SLIDE ########*/
p, h1 { margin: 0; }
h1 { margin-bottom: 0.2em; }
p { line-height: 1.33em; }

#main .caption-1 {
    position: absolute;
    top: 5%;
    left: 39%;
    font-size: 1.5rem;
    color: #fff;
}
#main .caption-2 {
    position: absolute;
    bottom: 15%;
    right: 14%;
    text-align: right;
    color: #fff;
    font-size: 1.2rem;
}
a.button{
    position: absolute;
    top: 2%;
    right: 2%;
    height:20px;
    width: 60px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: transparent;
}
a.button p{
    float: inherit;
    position:fixed;
    
    margin-top: 5px;
    margin-left: 5px;
    font-size:8px;
    color: white;
}
i.glower {
    /*background-color: rgba(100,101,105,.8);*/
    color: rgba(255,255,255,.8);
    border-radius:50%;
    font-size: 2rem;
    position: absolute;
    bottom: 5%;
    right: 46%;
    -webkit-animation: neon1 .5s ease-in-out infinite alternate;
    -moz-animation: neon1 .5s ease-in-out infinite alternate;
    animation: neon1 .5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon1 {
  from {
    box-shadow: 0 0 4px rgb(255,255,255), 0 0 8px rgb(255,255,255), 0 0 10px rgb(255,255,255), 0 0 15px rgb(255,255,255),0), 0 0 20px rgb(255,255,255);
  }
  to {
    box-shadow: 0 0 2px rgb(255,255,255), 0 0 3px rgb(255,255,255), 0 0 4px rgb(255,255,255), 0 0 5px rgb(255,255,255), 0 0 6px rgb(255,255,255), 0 0 7px rgb(255,255,255), 0 0 8px rgb(255,255,255);
  }
}
div.glower i {
    height; 10px;
    color: white;
}
/*######## FUNCIONES SLIDE ########*/
#funciones .caption {
    position: absolute;
    left: 5%;
    right: auto;
    top: 10%;
    color: #fff;
    text-align: left;
}

#funciones-2 .caption {
    position: absolute;
    right: auto;
    left: 50%;
    top: 50%;
    bottom: auto;
    color: #000;
    text-align: left;
}
#acceso .caption {
    position: absolute;
    right: auto;
    left: 5%;
    top: 5%;
    bottom: auto;
    color: #fff;
    text-align: left;
}
#beneficios .caption {
    position: absolute;
    right: 5%;
    left: auto;
    top: 10%;
    color: #fff;
    text-align: right;
}
#contacto .caption {
    position: absolute;
    left: 5%;
    right: auto;
    color: #fff;
}
/*######## main objects and positions ########*/

div.card-1 {
    position: absolute;
    top: 2.5rem;
    left: -1rem;
    width: 120px;
    height:67%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 3px #000;
    margin:50px;
}
div.card-2 {
    position: absolute;
    top: 2.5rem;
    left: 8rem;
    width: 120px;
    height:67%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 3px #000;
    margin:50px;
}
div.card-3 {
    position: absolute;
    top: 2.5rem;
    left: 17rem;
    width: 120px;
    height:67%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 3px #000;
    margin:50px;
}
div.card-4 {
    position: absolute;
    top: 2.5rem;
    left: 26rem;
    width: 120px;
    height:67%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 3px #000;
    margin:50px;
}
div.card-5 {
    position: absolute;
    top: 2.5rem;
    left: 35rem;
    width: 120px;
    height:67%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 3px #000;
    margin:50px;
}

div.card-1 div.card-content,
div.card-2 div.card-content,
div.card-3 div.card-content,
div.card-4 div.card-content,
div.card-5 div.card-content{
    text-align: left;
    font-size: .65rem;
    height: 50%;
    margin-bottom: 10px;
    margin-left: 8%;
    margin-right: 8%;
}
div.card-1 div.card-content img,
div.card-2 div.card-content img,
div.card-3 div.card-content img,
div.card-4 div.card-content img,
div.card-5 div.card-content img{
    margin: 0;
    width: 100%;
    height: auto;
}
div.card-1 div.card-content h4,
div.card-2 div.card-content h4,
div.card-3 div.card-content h4,
div.card-4 div.card-content h4,
div.card-5 div.card-content 54{
    margin: 0;
    margin-bottom: .6rem;
     text-align: center;
}

/*####### HELPER ########*/

#helper {
    position:absolute;
    left:0;
    top: 0;
    height: 2400%;
    width: 0px;
}
.marker {
    height: 16.66%;
    width: 100%;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: orange;
}
.black {
    background-color: black;
}

/*####### TEXT SETTINGS #######*/
h1.shadow {
    text-shadow: 1px 1px 4px #000;
}
p.shadow {
    text-shadow: 1px 1px 3px #000;
}
a.box-shadow {
    box-shadow: 0px 0px 8px #fff;
}













