html, body {
    width:100%;
    height:100%;
    font-family: 'Quicksand', sans-serif;
}
#main-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#slides {
    width: 200%;
    height: 200%;
    position: fixed;
    top: 0;
    left: 0;
}
/*###### Slides image and position #######*/

.slide {
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:50%;
}
.slide-1{
    display:flex;
    align-items: center;
    justify-content: center;
}
.slide-6{
    display:flex;
    align-items: center;
    justify-content: center;
}
.slide-4{
    display:flex;
    align-items: center;
    justify-content: center;
}

/*###### FONDOS DE SLIDES #######*/

#main {
    background: url('../img/BACKGROUNDS/building-op-8.jpg') no-repeat center center;
   
    background-size: cover;
}
.fullscreen-bg__video{
    top: 0;
    left: 0;
    width: auto;
    height: 200%;
}
#funciones {
    background: url('../img/BACKGROUNDS/building-op-8.jpg') no-repeat center center;
    background-size: cover;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    -o-transform: translate(0%,100%);
    transform: translate(0,100%);
}
#funciones-2 {
    background: url('../img/BACKGROUNDS/building-op-8.jpg') no-repeat center center;
    background-size: cover;
    -webkit-transform: translate(100%,100%);
    -ms-transform: translate(100%,100%);
    -o-transform: translate(100%,100%);
    transform: translate(100%,100%);
}
#acceso {
    background: url('../img/BACKGROUNDS/acceso.jpg') no-repeat center center;
    background-size: cover;
    -webkit-transform: translate(100%,0%);
    -ms-transform: translate(100%,0%);
    -o-transform: translate(100%,0%);
    transform: translate(100%,0%);
    
}
#beneficios {
    background: url('../img/BACKGROUNDS/devices.jpg') no-repeat center center;
    background-size: cover;
    -webkit-transform: translate(200%,0%);
    -ms-transform: translate(200%,0%);
    -o-transform: translate(200%,0%);
    transform: translate(200%,0%);
}
#contacto {
    background: url('../img/BACKGROUNDS/architecture.jpg') no-repeat center center;
    background-size: cover;
    -webkit-transform: translate(200%,100%);
    -ms-transform: translate(200%,100%);
    -o-transform: translate(200%,100%);
    transform: translate(200%,100%);
}


/*######## TITULOS DE SLIDES ########*/

#funciones .caption {
    position: absolute;
    left: 5%;
    right: auto;
    top: 8%;
    color: #fff;
    font-size: 4vh;
    text-shadow: 0px 0px 30px #fff;
}

#funciones-2 .caption {
    position: absolute;
    left: 5%;
    right: auto;
    top: 8%;
    color: #fff;
    font-size: 4vh;
    text-shadow: 0px 0px 10px #fff;
}
#acceso .caption {
    font-size: 4vh;
    position: absolute;
    top: 5%;
    bottom: auto;
    color: #000;
}
#beneficios .caption {
    font-size: 4vh;
    position: absolute;
    left: 6%;
    right: auto;
    top: 6%;
    color: #fff;
    text-align: right;
}
#contacto .caption {
    background-color: rgba(0,0,0,.8);
    font-size: 4vh;
    position: absolute;
    top: 6%;
    color: #fff;
    font-size: 4vh;
    width: 100%;
    height: 3em;
    text-align: center;
}

/*######## MAIN  SLIDE ########*/
p, h1 { margin: 0;
}
h1 { margin-bottom: 0em; }
p { line-height: 3.5vh; }

#main .caption-1 {
    position: absolute;
    top:2vw;
    font-size: 2.5vw;
    color: #fff;
}
#main .caption-2 {
    position: absolute;
    bottom:6%;
    color: #fff;
    font-size: 2.5vw;
}
a.button_admin{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3vw;
    height:3vw;
    width: 8vw;
    border: 1px solid white;
    border-radius: 8px;
    background-color: transparent;
    -webkit-animation: neon1 .5s ease-in-out infinite alternate;
    -moz-animation: neon1 .5s ease-in-out infinite alternate;
    animation: neon1 .5s ease-in-out infinite alternate;
}
a.button_admin p{
    text-align: center;
    position: absolute;
    margin:auto;
    font-size: 1.2vw;
    color: white;
}
div.descripcion-card{
    position: absolute;
    width: 20vw;
    height: 65vh;
    background-color: rgba(255,255,255,.5);
    align-content: center;
    border-radius: 8px;
    top: 9%;
    margin:5%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #fff;
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(255,255,255,.4),rgba(255,255,255,.8), rgba(255,255,255,.9)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.8), rgba(255,255,255,.9)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.8), rgba(255,255,255,.9)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.8), rgba(255,255,255,.9)); /* Standard syntax */
}
div.descripcion-card .img-content{
    width:15vh;
    margin: 0 auto;
}
div.descripcion-card .img-content img{
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.descripcion-card .text-content{
    position: relative;
    margin: 5%;
    margin-top: 2vh;
    text-align: justify;
    color:black;
    font-size: 2.2vh;
}
div.descripcion-card .content h4{
    margin: 0;
    margin-top: 10%;
    margin-bottom: 8%;
    text-align: center;
    font-size: 2vw;
    color: black;
}
div.descripcion-card.card-1{
    left:12%;
}
div.descripcion-card.card-2{
    right:12%;
}
div.scroll-down{
    position: absolute;
    display: flex; 
    bottom: 5vh;
    border-radius:50%;
    -webkit-animation: neon1 .5s ease-in-out infinite alternate;
    -moz-animation: neon1 .5s ease-in-out infinite alternate;
    animation: neon1 .5s ease-in-out infinite alternate;
}
div.scroll-down i {
    font-size: 10vh;
    color: rgba(255,255,255,.8);
}
@-webkit-keyframes neon1 {
  from {
    box-shadow: 0 0 4px rgb(255,255,255), 0 0 8px rgb(255,255,255), 0 0 10px rgb(255,255,255), 0 0 15px rgb(255,255,255),0), 0 0 20px rgb(255,255,255);
  }
  to {
    box-shadow: 0 0 2px rgb(255,255,255), 0 0 3px rgb(255,255,255), 0 0 4px rgb(255,255,255), 0 0 5px rgb(255,255,255), 0 0 6px rgb(255,255,255), 0 0 7px rgb(255,255,255), 0 0 8px rgb(255,255,255);
  }
}
div.glower i {
    height; 10px;
    color: white;
}

/*######## SLIDE FUNCIONES ########*/
a.button_back{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 8vh;
    bottom: 8vh;
    left: 48vw;
    border: 1px solid white;
    border-radius: 50%;
    background-color: transparent;
    -webkit-animation: neon1 .5s ease-in-out infinite alternate;
    -moz-animation: neon1 .5s ease-in-out infinite alternate;
    animation: neon1 .5s ease-in-out infinite alternate;
}
a.button_back i{
    width: 100%;
    height: 100%;
    font-size: 8vh;
    color: rgba(255,255,255,.8);
}
.card{
    position: absolute;
    width: 17%;
    height: 55%;
    top: 11%;
    margin:5%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #fff;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(255,255,255,.4),rgba(255,255,255,.8), rgba(255,255,255,.9)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.8), rgba(255,255,255,.9)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.8), rgba(255,255,255,.9)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.8), rgba(255,255,255,.9)); /* Standard syntax */
    
}
#funciones .card-1 {
    /*background: url('../img/CARDS/mensajes-1-5.png') no-repeat center center;
    background-size: cover;*/
    left: 0%;
    background-color: rgba(255,255,255,.6);
}
#funciones .card-2 {
   /*background: url('../img/CARDS/encuestas-1-5.png') no-repeat center center;
    background-size: cover;*/
    left: 18%;
    background-color: rgba(255,255,255,.6);
}
#funciones .card-3 {
    /*background: url('../img/BACKGROUNDS/architecture.jpg') no-repeat center center;
    background-size: cover;*/
    background-color: rgba(255,255,255,.6);
    left: 36%;
}

#funciones .card-4 {
    /*background: url('../img/BACKGROUNDS/architecture.jpg') no-repeat center center;
    background-size: cover;*/
    left: 54%;
    background-color: rgba(255,255,255,.6);
}
#funciones .card-5 {
    /*background: url('../img/BACKGROUNDS/architecture.jpg') no-repeat center center;
    background-size: cover;*/
    left: 72%;
    background-color: rgba(255,255,255,.6);
}
.card-content {
    font-size: 1.2vw;
    height: 100%;
}
.img-content{
    width:60%;
    margin: 0 auto;
}
.img-content img{
    width:60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-content{
    position: relative;
    top:10%;
    margin: 5%;
    text-align: justify;
    border-radius:5px;
    color:black;
    font-style: bold;
}
.card-content h4{
    margin: 0;
    margin-top: 10%;
    margin-bottom: 8%;
    text-align: center;
    font-size: 2vw;
    color: black;
}
/*####### SLIDE FUNCIONES-2 ########*/
#funciones-2 .card-1 {
    /*background: url('../img/CARDS/mensajes-1-5.png') no-repeat center center;
    background-size: cover;*/
    left: 10%;
    background-color: rgba(255,255,255,.6);
}
#funciones-2 .card-2 {
   /*background: url('../img/CARDS/encuestas-1-5.png') no-repeat center center;
    background-size: cover;*/
    left: 28%;
    background-color: rgba(255,255,255,.6);
}
#funciones-2 .card-3 {
    /*background: url('../img/BACKGROUNDS/architecture.jpg') no-repeat center center;
    background-size: cover;*/
    background-color: rgba(255,255,255,.6);
    left: 46%;
}

#funciones-2 .card-4 {
    /*background: url('../img/BACKGROUNDS/architecture.jpg') no-repeat center center;
    background-size: cover;*/
    left: 64%;
    background-color: rgba(255,255,255,.6);
}
#funciones-2 .card-5 {
    /*background: url('../img/BACKGROUNDS/architecture.jpg') no-repeat center center;
    background-size: cover;*/
    left: 72%;
    background-color: rgba(255,255,255,.6);
}

/* ############ SLIDE ACCESO CON SMARTBELL #######*/
div.acceso-card,
div.beneficios-card{
    position: absolute;
    width: 20vw;
    height: 65vh;
    background-color: rgba(255,255,255,.5);
    align-content: center;
    border-radius: 8px;
    top: 12%;
    margin:5%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #fff;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(255,255,255,.6),rgba(255,255,255,.9), rgba(255,255,255,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.9), rgba(255,255,255,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.9), rgba(255,255,255,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.9), rgba(255,255,255,1)); /* Standard syntax */
}
div.acceso-card .img-content,
div.beneficios-card .img-content{
    width:50%;
    margin: 0 auto;
}
div.acceso-card .img-content img,
div.beneficios-card .img-content img{
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.acceso-card .text-content,
div.beneficios-card .text-content{
    position: relative;
    margin: 5%;
    margin-top: 5%;
    text-align: justify;
    color:black;
    font-size: 2.5vh;
}
div.acceso-card .card-content h4,
div.beneficios-card .card-content h4{
    position: relative;
    margin: 0;
    margin-top: 10%;
    margin-bottom: 8%;
    text-align: center;
    height:10%;
    font-size: 2vw;
}
div.acceso-card.card-1,
div.beneficios-card.card-1{
    left:2%;
}
div.acceso-card.card-2,
div.beneficios-card.card-2{
    left:24%;
}
div.acceso-card.card-3,
div.beneficios-card.card-3{
    left:46%;
}
div.acceso-card.card-4,
div.beneficios-card.card-4{
    left:68%;
}
/*####### SLIDE BENEFICIOS ########*/

/*####### SLIDE CONTACTO ########*/
#map {
    position:absolute;
    top:22%;
    height: 50%;
    width: 30%;
    border: solid 7px rgba(0,0,0,.7);
    border-radius: 8px;
    box-shadow: 0px 0px 8px #fff;
}

.datos-contacto{
    position: absolute;
    height:64%;
    width:35%;
    background-color: rgba(255,255,255,.9);
    border-radius: 10%;
}
div.footer{
    position: absolute;
    bottom:0;
    width: 100%;
    height: 12vh;
    background-color: rgba(0,0,0,.9);
}
div.footer_content1{
    position: absolute;
    left: 10%;
    width: 30%;
    font-size: 2vh;
    margin: 1% 5% 2% 5%;
    color: white;
}
div.footer_content2{
    position: absolute;
    right: 0;
    width: 30%;
    font-size: 2vh;
    margin: 1% 5% 2% 5%;
    color: white;
}

/*####### HELPER ########*/

#helper {
    position:absolute;
    left:0;
    top: 0;
    margin:0;
    padding:0;
    height: 1800%;
    width: 0px;
    display: none;
}
.marker {
    height: 16.67%;
    width: 100%;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: orange;
}
.black {
    background-color: black;
}

/*####### TEXT SETTINGS #######*/
h1.shadow {
    text-shadow: 3px 3px 8px #000;
}
p.shadow {
    text-shadow: 2px 2px 3px #000;
}

.fullscreen-bg__video{
    top: 0;
    left: 0;
    width: 200%;
    height: auto; 
}












